@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body{
    margin: 0;
    background-image:url('./img/nbachamps.jpg');
    background-color:rgba(0, 24, 76);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

#body{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(0, 24, 76, 0.9);
    height: 100vh;
}

h2,h3,h4,h5,h6,p{
    color:rgb(233, 233, 233);
}

h1{
    color:rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.778);
    padding-left:0.25em;
    padding-right:0.25em;
}

.option{
    display:grid;
    grid-template-areas: ". img ."
    ". name ."
    ". br .";
    background:rgb(0, 0, 76, 0.3);
    padding:5em;
    border-radius: 5em;
    border: solid 0.1em white;
    font-size: 1em;
    height:50em;
    width:40em;
}

.option p{
    font-size:2em;
}

.option:hover{
    background: rgb(169, 169, 179);
}

.option:hover > img{
    background-color: rgb(231, 231, 231);
}

.option img{
    width:25em;
    height:25em;
    border: solid white 0.5em;
    background-color: rgb(193, 213, 255);
    padding:0.5em;
    grid-area: img;
    margin-left:auto;
    margin-right: auto;
}

.option p{
    grid-area: name;
}

.option hr{
    grid-area:br;
    height:0.01em;
}

#options p {
    font-size:3em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#or{
    margin-top: auto;
    margin-bottom:auto;
}

html, body{
    height:100%;
}

#options{
    display:flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    width:90vw;
    height:100vh;
}

ol{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    margin-left:auto;
    text-align: center;
    height:fit-content;
    width:35em;
    list-style-position: inside;
    padding:0;
    background-color: rgba(136, 168, 255, 0.9);
}

 ol img{
    width: 1em;
    align-self: center;
 }

ol li{
    font-size:1.5em;
    margin-bottom:1em;
    font-family: 'Oswald';
}

h1{
    font-size:6em;
    font-family: "oswald";
    text-align: center;
    margin:0.1em;
}

ol hr{
    width: 90%;
    height: 0;
    border: black solid 0.01em;
    text-align: center;
    margin-top:3em;
}

#copy{
    display:flex;
    flex-direction: row;
    align-items: center;
}

#results{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#results button, #results p{
    font-size: 2em;
    font-family:"oswald";
    padding-left:1em;
    padding-right:1em;
}

#results p{
    color:white;
    background-color: rgba(0, 0, 0, 0.778);
    margin-left:1em;
}

@media only screen and (max-width:1600px){
    .option{
        height:30em;
        width:30em;
    }
    .option img{
        width:12em;
        height:12em;
    }
    .option hr{
        display:none;
    }
}

@media only screen and (max-width:1250px){
    #options{
        flex-direction: column;
        align-items: center;
        height:80vh;
    }
    .option{
        height:18em;
        width:18em;
    }
    .option img{
        width:6em;
        height:6em;
    }
    #options p{
        font-size:1.3em;
    }
    .option hr{
        display:none;
    }
}

@media only screen and (max-width: 760px){
    h1{
        font-size:5em;
    }
}

@media screen and (max-width: 650px) {
    ol{
        width:100%;
    }
    
}

@media only screen and (max-width: 500px){
    h1{
        font-size:3em;
    }

    #results button, #results p{
        font-size: 1.5em;
    }
}

@media screen and (max-width: 380px){
    #results button, #results p{
        font-size: 1.2em;
    }
}

@media screen and (max-width: 350px){
    ol{
        align-items: center;
        text-align: center;
    }
}