body{
    background-color:rgb(0, 24, 76);
}

h1,h2,h3,h4,h5,h6,p{
    color:rgb(233, 233, 233);
}

.option{
    display:flex;
    flex-direction: column;
    background:rgb(0, 0, 76);
    padding:5em;
    border-radius: 5em;
    border: solid 0.1em white;
    font-size: 1em;
}

.option:hover{
    background: rgb(169, 169, 179);
}

.option:hover > img{
    background-color: rgb(231, 231, 231);
}

.option img{
    width:25em;
    height:25em;
    border: solid white 0.5em;
    background-color: rgb(193, 213, 255);
    padding:0.5em;
}

#options p {
    font-size:3em;
    text-align: center;
}

#or{
    margin-top: auto;
    margin-bottom:auto;
}

#options{
    display:flex;
    justify-content: space-between;
    margin:auto;
    width:90%
}

hr{
    width:10em;
}

ol{
    color:white;
}

#ol{
    display: flex;
    background-color: blue;
    width:30em;
    margin-left: auto;
    margin-right:auto;
}

#ol li{
    font-size:1.3em;
    margin-top:0.3em;
    margin-left: 2em;
}